<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster|Karla|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="container">
      <header>
        <a href="index.html">
          <p id="portfolio_head">Cait Scherr</p>
          <p id="portfolio_head2">Software Engineer</p>
        </a>
      </header>
      <nav>
        <ul>
          <li><a href="portfolio.html" class="selected">Portfolio</a></li>
          <li>  |  </li>
          <li><a href="gallery.html">Gallery</a></li>
          <li>  |  </li>
          <li class="last"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
        <ul>
          <img src="images/headshot.jpg" alt="headshot photo of Cait Scherr" class="profile">
        </ul>
      <section id="credits"><br>
        <ul>
          <li>
          	<br><br>
            <p>I am a software engineer in Portland, OR</p>
            <p>I have experience with Python, C++, JavaScript, CSS, HTML, and Ruby.</p>
            <p>Hobbies include welding, woodworking, and photography.</p>
          </li>
        </ul>
      </section>
    </div>
    <footer>
      <p>&copy; Cait Scherr | <a href="credits.html">Credits</a></p>
    </footer>
  </body>
</html>
