<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rouge, Sweat and Tears</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster|Karla|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <header>
        <a href="">
          <p id="title-header">ROUGE, SWEAT and TEARS</p>
          <p id="subtitle">Makeup, Gear, & Life Hacks for Adventurers</p>
        </a>
      </header>
      <nav>
        <ul>
          <li class="nav-links"><a href="">About Us</a></li>
          <li>  |  </li>
          <li class="nav-links"><a href="">Instagram</a></li>
          <li>  |  </li>
          <li class="nav-links"><a href="">YouTube</a></li>
        </ul>
      </nav>
      <section id="credits"><br>
        <ul>
          <li>
          	<br><br>
            <p>[CAPTION COMING SOON]</p>
            <br>

            <!-- <div class="row">
              <div class="column">
                <img src="water.jpeg" alt="">
                <img src="water.jpeg" alt="">
              </div>
              <div class="column">
                <img src="water.jpeg" alt="">
                <img src="water.jpeg" alt="">
              </div>
            </div> -->
              <table>
                <tr>
                  <td>
                    <button type="button" id="subtitle_button">
                    <a href="">The Basics</a>
                    <p>Intro</p>
                    </button>
                  </td>
                  <td>
                    <button type="button" id="subtitle_button">
                    <a href="">Field Tests</a>
                    <p>tests</p>
                    </button>
                  </td>
                  <td>
                    <button type="button" id="subtitle_button">
                    <a href="">Tutorials</a>
                    <p>tests</p>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" id="subtitle_button">
                    <a href="">Product Reviews</a>
                    <p>tests</p>
                    </button>
                  </td>
                  <td>
                    <button type="button" id="subtitle_button">
                    <a href="">Daily-Hacks</a>
                    <p>tests</p>
                    </button>
                  </td>
                  <td>
                    <button type="button" id="subtitle_button">
                    <a href="">Gear Reviews</a>
                    <p>tests</p>
                    </button>
                  </td>
                </tr>
              </table>
            <p></p>
          </li>
        </ul>
      </section>
    </div>
    <footer>
      <p>&copy; Caito Scherr | <a href="credits.html">Credits</a></p>
    </footer>
  </body>
</html>
