<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rouge, Sweat and Tears</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster|Karla|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <header>
        <a href="index.html">
          <p id="portfolio_head">ROUGE, SWEAT and TEARS</p>
          <p id="portfolio_head2">Makeup, Gear, & Life Hacks for Adventurers</p>
        </a>
      </header>
      <nav>
        <ul>
          <li><a href="portfolio.html" class="selected">About Us</a></li>
          <li>  |  </li>
          <li><a href="gallery.html">Instagram</a></li>
          <li>  |  </li>
          <li class="last"><a href="contact.html">YouTube</a></li>
        </ul>
      </nav>
      <section id="credits"><br>
        <ul>
          <li>
          	<br><br>
            <p>UNDER CONSTRUCTION - links don't work</p>
            <br>
            <div class="container">
              <img src="images/water.jpeg" alt="person wearing makeup in a swimming pool" style="width:15%;">
              <div class="text-block">
                <a href="">The Basics</a>
              </div>
            </div>

            <div class="container">
              <img src="images/water.jpeg" alt="" />
              <h2><span>The Basics<span class='spacer'></span><br /><span class='spacer'></span>Test</span></h2>
            </div>

              <table>
                <tr>

                  <td>Field Tests</td>
                  <td>Tutorials</td>
                </tr>
                <tr>
                  <td>Product Reviews</td>
                  <td>Daily-Hacks</td>
                  <td>Gear Reviews</td>
                </tr>
              </table>
            <p></p>
          </li>
        </ul>
      </section>
    </div>
    <footer>
      <p>&copy; Caito Scherr | <a href="credits.html">Credits</a></p>
    </footer>
  </body>
</html>
